{% extends "users/base.html" %}

{% block content %}
<div class="login-container">
    <h2 class="text-center mb-4">Sign in</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="floatingInput">Email Address</label>
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
           
        </div>
        <div class="mb-3">
            <label for="floatingPassword">Password</label>
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required> 
           
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        <hr class="my-4">
        <p class="text-muted">Don't have an account? <a href="#">Sign up</a></p>
    </form>
</div>
{% endblock content %}